body {
    font-family: Arial, Helvetica, sans-serif;
}


@media (max-width: 480px) {

    /*Navigationsmeny*/

    nav .header_loddrett {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    nav a {
        text-decoration: none;
        color: black;
        font-size: 16px;
    }


    .søkefelt_header{
        border:1.5px solid black;
        border-radius: 16px;  
        width: 240px;
        padding: 5px;
        margin-top: 20px;
    }

    .søkefelt_header input {
        border: none;
        outline: none;
        font-size: 14px;
        margin-right: 20px;
    }

    .søkefelt_header button {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
    }

    .header_hjem {
        margin-top: 10px;
    }

    .header_produkter {
        margin-top: 10px;
    }

    .header_logo {
        font-size: 36px;
        margin: -10px;
    }

    .header_kategorier {
        margin-bottom: 10px;
    }

    .header_kontaktoss {
        margin-bottom: 10px;
    }

    .header_ikoner {
        display: flex;
        justify-content: center;
        align-items: flex;
        text-align: center;
        gap: 10px;
        padding-bottom: 20px;
    }

    .header_ikon {
        font-size: 20px;
    }

    /*Falsk slider meny*/

    .falsk_slider {
        border: 1px solid white;
        border-radius: 20px;
        height: auto;
        padding: 10px;
        background-image: url(bilder_css/bakgrunnsbilde_slider.jpg);
        background-size: cover;
        margin-left: 5px;
        margin-right: 5px;
    }

    .falsk_slider_h1 {
        text-align: right;
        padding-left: 180px;
        padding-right: 40px;
        font-size: 40px;
        margin-top: 70px;
    }

    .falsk_slider_p {
        text-align: right;
        padding-left: 180px;
        padding-right: 40px;
        font-size: 14px;
    }

    .falsk_slider_knapp_pos {
        display: flex;
        justify-content: flex-end;
        padding-right: 40px;     
    }

    .falsk_slider_knapp {
        border: none;
        background-color: white;
        padding: 15px 15px;
        border-radius: 30px;
        margin-bottom: 30px;
        font-size: 14px;
        cursor: pointer;
    }

    /*Beste produkter side*/

    .beste_produkter {
        display: grid;
        justify-content: center;
        text-align: center;
    }

    .beste_produkter_h1 {
        font-size: 40px;
    }

    .beste_produkter_p {
        margin-bottom: 30px;
    }

    .kategorier_beste_produkter {
        display: flex;
        gap: 30px;
        justify-content: center;
        margin-bottom: 60px;
    }

    .nytt_produkt {
        background-color: rgb(42, 42, 42);
        padding: 10px 15px;
        border: none;
        border: 1px solid black;
        border-radius: 30px;
        width: 100px;
        gap: 10px;
        font-weight: bold;
        color: white;
    }

    .bestselgere {
        background-color: white;
        padding: 10px 15px;
        border: none;
        border: 1px solid black;
        border-radius: 30px;
        width: 100px;
        gap: 10px;
        font-weight: bold;
    }

    /*Produktbokser*/

    .produkt_boks{
        border: 1px solid rgb(255, 255, 255);
        height: 300px;
        width: auto;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 20px;
        justify-content: right;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .produkt_boks img{ 
        display: grid;
        width: 100%;
        height: 100%;
    }

    .produkt_boks i {
        border: 2px rgb(122, 122, 122, 0.80);
        border-radius: 30px;
        padding: 10px 10px;
        margin-bottom: 250px;
        margin-right: 10px;
        color: white;
        background-color: rgb(122, 122, 122, 0.80);
        position: absolute;
    }

    .produkt_informasjon{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .produkt_navn {
        margin-left: 5px;
        font-size: 16px;
    }

    .produkt_pris {
    font-size: 14px;
    margin-right: 5px;
    }

    .produkt_rangering {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-left: 5px;
        gap: 8px;
        margin-top: 2px;
        margin-bottom: 30px;
    }

    .produkt_rangering i{
        font-size: 14px;
    }

    .produkt_rangering p{
        font-size: 14px;
    }

    /*Populære Kategorier*/

    .populære_kategorier_sec {
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .populære_kategorier_h1{
       font-size: 35px;
    }

    .populære_kategorier_boks {
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .c_boks1 {
        border: 1px solid rgb(255, 255, 255);
        border-radius: 20px;
        height: 300px;
        margin-bottom: 15px;
        margin-top: 50px;
        margin-left: 5px;
        margin-right: 5px;
        overflow: hidden;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
    }

    .c_boks1 img{
        
        display: grid;
        width: 100%;
        height: 100%;
        filter: blur(2px);
        position: absolute;
        z-index: -1;
    }

    .c_boks {
        border: 1px solid rgb(255, 255, 255);
        border-radius: 20px;
        height: 300px;
        margin-bottom: 15px;
        margin-left: 5px;
        margin-right: 5px;
        overflow: hidden;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
    }

    .c_boks img{
        display: grid;
        width: 100%;
        height: 100%;
        filter: blur(2px);
        position: absolute;
        z-index: -1;
    }

    .c_boks3 {
        border: 1px solid rgb(255, 255, 255);
        border-radius: 20px;
        height: 600px;
        margin-bottom: 15px;
        margin-left: 5px;
        margin-right: 5px;
        overflow: hidden;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
    }

    .c_boks3 img{
        display: grid;
        width: 100%;
        height: 100%;
        filter: blur(2px);
        position: absolute;
        z-index: -1;
    }

    .kategorier {
        color: rgb(255, 255, 255);
        z-index: 1;
    }

    /*komentarer*/


    .Anmeldelser_overskrift h1 {
        text-align: left;
        padding-left: 5px;
        font-size: 32px;   
        margin-top: 20px; 
        margin-bottom: 20px;
    }


    .anmeldelser_boks {
        display: flex;
        overflow-x: auto;
        scrollbar-width: thin;
        scroll-snap-type: x mandatory;
    }

    .anmeldelser_kort {
        border: 1px solid rgb(229, 229, 229);
        border-radius: 30px;
        width: 235px;
        flex-shrink: 0;
        height: 350px;
        display: block;
        justify-content: left;
        text-align: left;
        margin-right: 5px;
        margin-left: 5px;
    }

    .anmeldelser_kort img {
        height: 80px;
        width: 80px;
        border-radius: 50px;
        object-fit: cover;
        margin-left: 10px;
        margin-top: 10px;
    }

    .anmeldelser_kort h4 {
        font-size: 14px;
        margin-left:10px;
    }

    .anmeldelser_stjerner {
        list-style: none;
        margin-left: 10px;
        font-size: 12px;
        gap: 20px;
    }

    .anmeldelser_kort p {
        margin-left: 10px;
        font-size: 12px;
        font-weight: bold;
    }

    img{
        width: 100px;
    }

}